# Python
*.pyc
*.pyo
__pycache__/

# Environnement virtuel
env/

# Fichiers de configuration
*.sqlite3
*.db

# Fichiers de log
*.log

# Dossiers de déploiement
staticfiles/
media/

# Pytest
.cache/

# fichiers de sauvegarde
*~
*.bak

# IDEs
.vscode/
.idea/
