/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Hauteur de la page à 100% de la fenêtre */
    background-image: url("{% static 'reservations/your-image.jpg' %}");
    background-size: cover; /* Recouvre toute la page sans déformation */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Ne répète pas l'image */
}

.full-page-image {
    position: fixed; /* fixe l'image dans la fenêtre */
    top: 0;
    left: 0;
    width: 100vw; /* largeur de l'image égale à 100% de la fenêtre */
    height: 100vh; /* hauteur de l'image égale à 100% de la fenêtre */
    object-fit: cover; /* fait en sorte que l'image couvre toute la page sans déformation */
    z-index: -1; /* place l'image derrière le contenu */
}


header {
    background-color:rgb(174, 174, 212);
    color: #fff;
    text-align: center;
}

h1, h2 {
    color: #333;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer-item {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #218838;
}

footer {
    background-color: rgb(174, 174, 212);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
